<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}

        {%- if site.posts.size > 0 -%}
        <h2 class="post-list-heading">{{ page.list_title | default: "Recent Post" }}</h2>
        <ul class="post-list">
          {%- assign rpost = site.posts | first -%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ rpost.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ rpost.title | escape }}
              </a>
            </h3>
            {%- if site.show_excerpts -%}
              {{ rpost.excerpt }}
            {%- endif -%}
          </li>
        </ul>
      {%- endif -%}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
